{% extends "::base.html.twig" %}
{% block body %}
    {% block theme_css %}
        {{ parent() }}
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/theme.css" rel="stylesheet">
        <link href="css/bootstrap-reset.css" rel="stylesheet">
        <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/flexslider.css"/>
        <link href="assets/bxslider/jquery.bxslider.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet">
        <link href="css/style-responsive.css" rel="stylesheet" />
    {% endblock theme_css %}
    {% block custom_css %}
        {{ parent() }}
    {% endblock custom_css %}
    <body>
    {{ include('@AppShowCase/front/header.html.twig') }}
    {{ include('@AppShowCase/front/widget/breadcrumb.html.twig', {'title': 'Projets', 'item': 'A propos de moi'}) }}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="span5 about-carousel">
                    <div id="myCarousel" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="">
                            <div class="">
                                <img class="about-picture" src="{{ asset('img/me.png') }}" alt="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 about">
                <h3>A propos de moi <span id="js-routing"></span></h3>
                <p>
                    Welcome To Avada
                    Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.
                </p>
                <p>
                    Aenean nibh ante, lacinia non tincidunt nec, lobortis ut tellus. Sed in porta diam. Suspendisse potenti. Donec luctus ullamcorper nulla. Duis nec velit odio.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="hiring">
                <div class="col-lg-6 col-sm-6">
                    <div class="icon-wrap ico-bg round">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="content">
                        <h3 class="title">{{ 'aboutpage.backend_developper.title' | trans }}</h3>
                        <p>{{ 'aboutpage.backend_developper.content' | trans }}</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="icon-wrap ico-bg round">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="content">
                        <h3 class="title">{{ 'aboutpage.frontend_developper.title' | trans }}</h3>
                        <p>{{ 'aboutpage.frontend_developper.content' | trans }}</p>
                    </div>
                </div>
            </div>
            {#<table class="table">#}
                {#<caption>Mes projets</caption>#}
                {#<tr>#}
                    {#<th>Projet</th>#}
                    {#<th>Type</th>#}
                {#</tr>#}
                {#{% for project in projects %}#}
                {#<tr>#}
                    {#<td>{{ project.projectName }}</td>#}
                    {#<td>{% if project.professionnalProject %}Professionnel{% else %}Personnel{% endif %}</td>#}
                {#</tr>#}
                {#{% endfor %}#}
            {#</table>#}
        </div>
    </div>
    {% include "@AppShowCase/front/footer.html.twig" %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/botstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/hover-dropdown.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/bxslider/jquery.bxslider.js') }}"></script>
        <script src="{{ asset('js/common-scripts.js') }}"></script>
    {% endblock javascripts %}
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script defer src="js/jquery.flexslider.js"></script>

    <script src="js/jquery.easing.min.js"></script>
    <script src="js/link-hover.js"></script>

    <script>
        $(window).load(function() {
            $('[data-zlname = reverse-effect]').mateHover({
                position: 'y-reverse',
                overlayStyle: 'rolling',
                overlayBg: '#fff',
                overlayOpacity: 0.7,
                overlayEasing: 'easeOutCirc',
                rollingPosition: 'top',
                popupEasing: 'easeOutBack',
                popup2Easing: 'easeOutBack'
            });
        });

        $(window).load(function() {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function(slider) {
                    $('body').removeClass('loading');
                }
            });
        });


    </script>

    </body>
{% endblock body %}
