<footer class="footer put-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <h1>{{ 'footer.contact_info.title' | trans }}</h1>
                <address>
                    <p>18 rue des Tillieuls</p>
                    <p>60620 ORMOY-LE-DAVIEN</p>

                    <p>{{ 'footer.contact_info.mobile' | trans }} : 06 76 47 42 72</p>
                    <p>{{ 'footer.contact_info.email' | trans }} : <a href="javascript:;">laurent.brau@gmail.com</a></p>
                </address>
            </div>
            <div class="col-lg-5 col-sm-5">
                <h1>{{ 'footer.last_tweet.title' | trans }}</h1>
                <div class="tweet-box">
                    <i class="fa fa-twitter"></i>
                    <em>{{ 'footer.last_tweet.content' | trans }}</em>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-lg-offset-1">
                <h1>{{ 'footer.stay_connected.title' | trans }}</h1>
                <ul class="social-link-footer list-unstyled">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
